#
# By default, this definition will start a load-balanced set of Chinmina containers and multiple agents.
#
# Use a docker-compose.override.yaml file to easily override scaling and other settings. For example:
#
# ```yaml
# services:
#   buildkite-agent:
#     scale: 5
#
#   chinmina-bridge-worker:
#     scale: 20
# ```
#


services:
  buildkite-agent:
    scale: 1
    image: buildkite/agent:3
    depends_on:
      - chinmina-bridge
    command: ["start"]
    environment:
      - BUILDKITE_AGENT_TOKEN
      - BUILDKITE_AGENT_TAGS
      - TMPDIR=/tmp
    volumes:
      - "../agent/startup:/docker-entrypoint.d:ro"
      - "../agent/hooks:/buildkite/hooks:ro"

  chinmina-bridge: # ingress container
    image: traefik:v3
    depends_on:
      - chinmina-bridge-worker
    command:
      - "--api.insecure=true"                       # Enable Dashboard
      - "--providers.docker=true"                   # Enable Docker Auto-discovery
      - "--providers.docker.exposedbydefault=false" # Don't expose containers unless explicitly told
      # --- TRACING (OTLP gRPC) ---
      - "--tracing.otlp=true"
      - "--tracing.otlp.grpc.endpoint=aspire:18889" # Aspire OTLP
      - "--tracing.otlp.grpc.insecure=true"
      # --- METRICS (OTLP gRPC) ---
      - "--metrics.otlp=true"
      - "--metrics.otlp.grpc.endpoint=aspire:18889"
      - "--metrics.otlp.grpc.insecure=true"
      - "--metrics.otlp.addEntryPointsLabels=true" # Adds port info (port 80 vs 443)
      - "--metrics.otlp.addServicesLabels=true"    # Adds service info (whoami, etc.)
    ports:
      - "18889:8080"  # dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # allows traefik to see other containers

  chinmina-bridge-worker:
    scale: 1
    image: alpine
    depends_on:
      - aspire
    working_dir: "/src"
    command: ["./dist/chinmina-bridge"]
    environment:
      - ENV=development
      - SERVER_PORT=80
      - BUILDKITE_API_TOKEN
      - JWT_BUILDKITE_ORGANIZATION_SLUG
      - JWT_AUDIENCE=github-app-auth:chinmina
      - GITHUB_APP_PRIVATE_KEY_ARN
      - GITHUB_APP_PRIVATE_KEY
      - GITHUB_APP_ID
      - GITHUB_APP_INSTALLATION_ID
      - GITHUB_ORG_PROFILE
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://aspire:18889
      - OBSERVE_ENABLED=true
      - OBSERVE_METRICS_ENABLED=true
      - OBSERVE_TYPE=grpc
      - OBSERVE_OTEL_LOG_LEVEL=${OBSERVE_OTEL_LOG_LEVEL:-info}
      # pass through AWS credentials (allows for KMS signing to be used)
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      - AWS_REGION
      - AWS_DEFAULT_REGION
    volumes:
      - "..:/src"
    labels: # labelling allows scaled replicas to be routed via traefik
      - "traefik.enable=true"
      - "traefik.http.routers.chinmina.rule=PathPrefix(`/`)"
      - "traefik.http.services.chinmina.loadbalancer.server.port=80"

  # .NET Aspire dashboard all in one for local OTEL tracing, using in-memory storage which is
  # not persisted.
  aspire:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest
    ports:
      - "18888:18888" # dashboard
    environment:
      - ASPIRE_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true
      - LOG_LEVEL=debug
