x-buildkite-agent: &buildkite-agent
  image: buildkite/agent:3
  depends_on:
    - chinmina-bridge
  command: ["start"]
  environment:
    - BUILDKITE_AGENT_TOKEN
    - BUILDKITE_AGENT_TAGS
    - TMPDIR=/tmp
  volumes:
    - "../agent/startup:/docker-entrypoint.d:ro"
    - "../agent/hooks:/buildkite/hooks:ro"

services:
  # spawn any number of buildkite agents by re-using the same definition
  buildkite-agent-1:
    <<: *buildkite-agent
  buildkite-agent-2:
    <<: *buildkite-agent
  buildkite-agent-3:
    <<: *buildkite-agent
  buildkite-agent-4:
    <<: *buildkite-agent

  chinmina-bridge:
    image: alpine
    depends_on:
      - aspire
    working_dir: "/src"
    command: ["./dist/chinmina-bridge"]
    environment:
      - ENV=development
      - SERVER_PORT=80
      - BUILDKITE_API_TOKEN
      - JWT_BUILDKITE_ORGANIZATION_SLUG
      - JWT_AUDIENCE=github-app-auth:chinmina
      - GITHUB_APP_PRIVATE_KEY_ARN
      - GITHUB_APP_PRIVATE_KEY
      - GITHUB_APP_ID
      - GITHUB_APP_INSTALLATION_ID
      - GITHUB_ORG_PROFILE
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://aspire:18889
      - OBSERVE_ENABLED=true
      - OBSERVE_METRICS_ENABLED=true
      - OBSERVE_TYPE=grpc
      - OBSERVE_OTEL_LOG_LEVEL=debug
      # pass through AWS credentials (allows for KMS signing to be used)
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      - AWS_REGION
      - AWS_DEFAULT_REGION
    volumes:
      - "..:/src"

  # .NET Aspire dashboard all in one for local OTEL tracing, using in-memory storage which is
  # not persisted.
  aspire:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest
    ports:
      - "18888:18888" # dashboard
    environment:
      - ASPIRE_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true
      - LOG_LEVEL=debug
