name: verification

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read # used for golangci-lint with 'only-new-issues' option

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        type: # define the types that will run
          - unit
          - integration
          - fuzz
        include: # add complete make target for each type
          - type: unit
            make-target: ci-unit
            upload-coverage: true
          - type: integration
            make-target: ci-integration
            upload-coverage: true
          - type: fuzz
            make-target: ci-fuzz
            upload-coverage: false
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run ${{ matrix.type }} tests
        run: make ${{ matrix.make-target }}

      - name: Upload coverage to Codecov
        if: matrix.upload-coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ matrix.type }}

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: lint
        uses: golangci/golangci-lint-action@v9
        with:
          version-file: .tool-versions
