name: Test and coverage

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read # used for golangci-lint with 'only-new-issues' option

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run coverage
        run: go test ./... -race -coverprofile=coverage.out -covermode=atomic

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: lint
        uses: golangci/golangci-lint-action@v9
        with:
          version-file: .tool-versions
